* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body {
  font-family: "Arial", sans-serif;
  line-height: 1.6;
  background-color: #e8e3d3;
  color: #333;
  text-align: center;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  background-color: #2d2d2d;
  padding-bottom: 2px;
  width: 100%;
}

header nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
}

header nav ul li {
  margin: 0 20px;
}

header nav ul li a {
  color: #faf3dd;
  text-decoration: none;
  font-weight: bold;
}

header nav ul li a:hover {
  color: #8a0303;
}

.aboutMe {
  background-color: #2d2d2d;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 20px 5%;
  width: 100%;
  color: #faf3dd;
  flex-grow: 1;
}

.aboutMe img {
  width: 250px;
  height: auto;
  border-radius: 50%;
}

.aboutMe .text {
  text-align: left;
  font-size: 20px;
}

.Projectes {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  padding: 15px;
}

.Projectes div {
  background-color: #faf3dd;
  padding: 10px;
  text-align: center;
  border: 2px solid #333;
}

.Projectes img {
  width: 100%;
  height: auto;
}

.contacte {
  background-color: #2d2d2d;
  color: #e8e3d3;
  padding: 10px;
  flex-grow: 1;
}

.contacte span {
  color: #8a0303;
}

@media (max-width: 600px) {
  header nav ul {
    flex-direction: column;
  }

  .aboutMe {
    flex-direction: column;
    text-align: center;
  }

  .aboutMe img {
    width: 100px;
  }

  .aboutMe .text {
    text-align: center;
  }

  .aboutMe {
    flex-direction: column;
    text-align: center;
    padding: 10px 5%;
  }

  .aboutMe img {
    width: 150px;
  }

  .aboutMe .text {
    text-align: center;
  }
}
